header {
   background: url(../img/principles-11.png)  center fixed;
   background-size: cover;
   height: 100vh;
}
body {
   color: white;
}

#by {
   font-family: 'Merriweather', serif;
   font-size: 3em;
   font-weight: 200;
   color: #7fcdee;
   text-align: center;
   letter-spacing: 10px;
   padding-top: 8%;
   padding-left: 5%;
   padding-right: 5%;
   padding bottom: 5%;
}
#title {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-style: bold;
   font-variant: small-caps;
   font-weight: 200;
   text-align: center;
   padding-top: 2%;
   padding-left: 5%;
   padding-right: 5%;
   padding-bottom: 10%;
   letter-spacing: 8px;
}

#gd {
   font-family: 'Merriweather', serif;
   font-size: 4em;
   font-weight: 200;
   font-variant: small-caps;
   color: white;
   text-align: center;
   letter-spacing: 10px;
   padding-top: 3%;
   padding-bottom: 3%;
   background-color: #1a1a1a;
   background-position: center center fixed;
   position: absolute;
   width: 100%;
}

#principle1 {
   background: url(../img/principles-01.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh;
}

#tag1 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: right;
   padding-top: 12%;
   padding-right: 12%;
   color: #7fcdee;
}

#tag1_1 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-right: 12%;
   padding-left: 25%;
   text-align: right;
}

#principle2 {
   background: url(../img/principles-02.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag2 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: left;
   padding-top: 5%;
   padding-left: 5%;
   color: #7fcdee;
}

#tag2_2 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-left: 12%;
   padding-right: 25%;
   text-align: left;
}

#principle3 {
   background: url(../img/principles-03.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag3 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: right;
   padding-top: 12%;
   padding-right: 12%;
   color: #7fcdee;
}

#tag3_3 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-right: 12%;
   padding-left: 25%;
   text-align: right;
}

#principle4 {
   background: url(../img/principles-04.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag4 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: left;
   padding-top: 5%;
   padding-left: 5%;
   color: #7fcdee;
}

#tag4_4 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-left: 12%;
   padding-right: 25%;
   text-align: left;
}

#principle5 {
   background: url(../img/principles-05.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag5 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: right;
   padding-top: 12%;
   padding-right: 12%;
   color: #7fcdee;
}

#tag5_5 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-right: 12%;
   padding-left: 25%;
   text-align: right;
}

#principle6 {
   background: url(../img/principles-06.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag6 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: left;
   padding-top: 5%;
   padding-left: 5%;
   color: #7fcdee;
}

#tag6_6 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-left: 12%;
   padding-right: 25%;
   text-align: left;
}

#principle7 {
   background: url(../img/principles-07.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag7 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: right;
   padding-top: 12%;
   padding-right: 12%;
   color: #7fcdee;
}

#tag7_7 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-right: 12%;
   padding-left: 25%;
   text-align: right;
}

#principle8 {
   background: url(../img/principles-08.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag8 {
   font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: left;
   padding-top: 5%;
   padding-left: 5%;
   color: #7fcdee;
}

#tag8_8 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-left: 12%;
   padding-right: 25%;
   text-align: left;
}

#principle9 {
   background: url(../img/principles-09.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag9 {
   font-family: 'Raleway', sans-serif;
   font-size: 7em;
   font-weight: 100;
   text-align: right;
   padding-top: 12%;
   padding-right: 12%;
   color: #7fcdee;
}

#tag9_9 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-right: 12%;
   padding-left: 25%;
   text-align: right;
}

#principle10 {
   background: url(../img/principles-10.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh
}

#tag10 {
      font-family: 'Raleway', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-align: left;
   padding-top: 5%;
   padding-left: 5%;
   color: #7fcdee;
}

#tag10_10 {
   font-family: 'Merriweather', serif;
   font-size: 1.5em;
   font-weight: 300;
   font-style: italic;
   line-height: 1.5em;
   padding-top: 3%;
   padding-left: 12%;
   padding-right: 25%;
   text-align: left;
}

